@import '../../assets/styles/variables.scss';

.levels {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
  justify-items: center;
  &__level {
    width: 30%;
    min-width: 225px;
    aspect-ratio: 3 / 1;
    border: 1px solid $color-primary;
    border-radius: 20px;
    font-size: 1.5rem;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s all;
    text-decoration: none;
    &:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }
}