@import '../../assets/styles/variables.scss';

.table {
  height: max-content;
  aspect-ratio: 1 / 1;
  border-collapse: collapse;
  &__body > tr:nth-child(2) > td:not(:first-child) {
    border-top: $table-border-style;
  }
  &__body > tr:last-child > td:not(:first-child) {
    border-bottom: $table-border-style;
  }
  &__body_colored td {
    border: none !important;
  }
  &__cell {
    border: 1px solid #000;
    padding: 5px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    transition: .2s all;
    font-weight: 400;
    cursor: pointer;
    &:nth-child(2) {
      border-left: $table-border-style;
    }
    &:last-child {
      border-right: $table-border-style;
    }
    &_theme {
      &_block {
        background-color: $color-primary;
        cursor: default;
      }
      &_cross {
        position: relative;
        cursor: default;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          rotate: 45deg;
          width: 2.5rem;
          height: 0.1875rem;
          border-radius: 5px;
          background-color: #000;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          rotate: -45deg;
          width: 2.5rem;
          height: 0.1875rem;
          border-radius: 5px;
          background-color: #000;
        }
      }
    }
  }
  &__keys {
    outline: $keys-border-style;
    outline-offset: -5px;
    border-radius: 8px;
    font-size: 1.5rem;
    &_theme {
      &_row {
        text-align: right;
        padding: 0 8px;
        margin-right: 2px;
      }
      &_column {
        white-space: break-spaces;
        text-align: center;
        padding: 8px 0;
        margin-bottom: 2px;
        vertical-align: bottom;
      }
    }
    &_accomplished {
      color: $color-disabled;
    }
  }
}
