@import '../../assets/styles/variables.scss';

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.table {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-inline: auto;
  gap: 4px;
  &__blocks {
    width: 100%;
    border-collapse: collapse;
    aspect-ratio: 1 / 1;
    &_accomplished {
      position: relative;
      z-index: 1001;
      box-shadow: 0 0 50px 50px $color-disabled;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        outline: 20px solid #fff;
        border-radius: 15px;
      }
      &::after {
        content: attr(data-name);
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        translate: -50% -50%;
        width: max-content;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 24px;
        font-size: 1.5rem;
      }
    }
    &_accomplished td {
      border: none;
    }
  }
  &__body {
    box-shadow: 0 0 0 2px #000;
  }
  &__cell {
    border: 1px solid #000;
    background-color: #fff;
    transition: .2s all;
    cursor: pointer;
    &_theme {
      &_block {
        background-color: $color-primary;
        cursor: default;
      }
      &_cross {
        position: relative;
        cursor: default;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          rotate: 45deg;
          width: 2rem;
          height: 0.1875rem;
          border-radius: 5px;
          background-color: #000;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          rotate: -45deg;
          width: 2rem;
          height: 0.1875rem;
          border-radius: 5px;
          background-color: #000;
        }
      }
    }
  }
  &__row-keys {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__column-keys {
    display: flex;
  }
  &__keys {
    outline: $keys-border-style;
    border-radius: 3px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    transition: .3s all;
    background-color: $color-gray-light;
    &_theme {
      &_row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        padding: 0 clamp(2px, .5vw, 4px);
        margin: 2px 0;
        flex-grow: 1;
      }
      &_column {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        white-space: break-spaces;
        height: 100%;
        margin: 0 4px;
        flex-grow: 1;
      }
    }
    &_accomplished {
      background-color: #fff;
      color: $color-disabled;
    }
  }
}