$color-primary: #334861;
$color-secondary: #2196f3;
$color-disabled: #d7d8d8;
$color-gray-light: #eef1f4;
$color-overflow: rgba(0, 0, 0, .5);
$color-heart: #ff464b;

$font-size-large: 3rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

$table-border-style: 2px solid #000;
$keys-border-style: 1px solid $color-disabled;